.photo-wrapper{
    display: flex;
    flex-flow: column nowrap;
    position: relative; 
    margin-bottom: 1em;
    min-height: 125px;
}

.custom-image-parent{
    position: relative;
    height: 100%; 
}

.custom-image-component{
    position: relative;
    opacity: 1;
    z-index: -2;
}

.image-buttons{
    cursor: pointer;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 0;
}

.image-buttons:hover{
    opacity: 1;
}

.top-right-buttons{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 1em;
    height: 7em;
}

.image-icons-wrapper, .heart-icon-wrapper,.profile-icon-wrapper, .download-icon-wrapper{
    background-color: white;
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
}

.image-icons-wrapper:hover, .download-icon-wrapper:hover{
    color: var(--highlight-color);
}

.heart-icon-wrapper:hover{
    color: var(--red-color);
}

.image-icons{
    height: 20px;
    width: 20px;
}

.bottom-container{
    background-color: rgba(50, 50, 50, 0.25);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1em;
    height: 4em;
    width: 100%;
}

.photographer-name{
    color: white;
    margin-left: 0.5em;
    text-overflow: ellipsis;
}

.profile-icon-wrapper{
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-circle);
    color: white;
}

.download-icon-wrapper{
    margin-left: auto;
}

.loading-element{
    min-height: 500px;
}

@media only screen and (max-width: 1152px) {
    .photo-wrapper{
        margin-bottom: 0.75em;
    }

    .top-right-buttons{
        margin-right: 0.75em;
        height: 6.5em;
    }

    .image-icons-wrapper, .heart-icon-wrapper,.profile-icon-wrapper, .download-icon-wrapper{
        height: 36px;
        width: 36px;
    }

    .image-icons{
        height: 18px;
        width: 18px;
    }

    .bottom-container{
        padding: 0 0.75em;
        height: 3em;
    }

    .photographer-name{
        margin-left: 0.25em;
    }
}

@media only screen and (max-width: 480px) {
    .photographer-name{
        font-size: 14px;
    }
}