.search-input-field{
    background-color: var(--grey-color);
    border: var(--border-ultra-thin);
    padding: 8px 36px 8px 12px;
}

.search-icon-wrapper{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 36px;
}

.search-input-field:focus{
    border: 1px solid black;
    border-color: var(--highlight-color);
}

.search-icon-wrapper:hover{
    color: var(--highlight-color);
}