.searchbox-wrapper{
    position: relative;
    height: 36px;
    width: 30em;
}

.search-input-field{
    background-color: var(--grey-color);
    border: var(--border-ultra-thin);
    padding: .5em 2em .5em 0.75em;
}

.search-icon-wrapper{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2em;
}

.search-input-field:focus{
    border: var(--border-medium);
    border-color: var(--highlight-color);
}

.search-icon-wrapper:hover{
    color: var(--highlight-color);
}
/* 
@media only screen and (max-width: 768px) {
    .searchbox-wrapper{
        height: 32px;
        width: 18em;
    }
} */