.results-wrapper{
    border-bottom: var(--border-ultra-thin);
    columns: auto 3;
    gap: 0.75em;
    padding: 1em;
}

.empty-search-text{
    text-align: center;
    margin: 1em;
}

@media only screen and (max-width: 896px) {
    .results-wrapper{
        columns: auto 2;
        gap: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .results-wrapper{
        columns: auto 1;
        gap: 5px;
    }
}