.curated-photos-container{
    height: auto;
    width: 100%;
}

.curated-header{
    margin: 1em 0;
}

.curated-wrapper{
    columns: auto 3;
    gap: 1em;
    margin: 1em 0;
    padding: 0 1em;
}

.more-wrapper{
    width: 100%;
}

.load-more-btn{
    background-color: var(--grey-color);
    border: var(--border-ultra-thin);
    margin: 1em 0;
    height: 3em;
    width: 17em;
}

.load-more-btn:hover{
    background-color: var(--lightest-violet-color);
}