.global-navbar-wrapper{
    background-color: var(--primary-bg-color);
    border-bottom: var(--border-ultra-thin);
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
}

.search-results-container{
    margin: 1em auto;
    display: flex;
    flex-flow: column nowrap;
    min-height: 500px;
    max-width: 1440px;
}

.results-wrapper{
    border-bottom: var(--border-ultra-thin);
    columns: auto 3;
    gap: 0.75em;
    padding: 0 1em;
    min-height: 700px;
}

.search-page-bottom-nav-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
    padding: 0 3em;
    height: 40px;
    width: 100%;
}

.nav-buttons{
    background-color: white;
    border: var(--border-ultra-thin);
    height: 100%;
    width: 5em;
}

.nav-buttons:hover, .load-more-btn:hover{
    background-color: var(--highlight-color);
}

.curated-photos-wrapper, .favourites-wrapper{
    border-bottom: var(--border-ultra-thin);
    columns: auto 3;
    gap: 0.75em;
    padding: 1em;
}

.favourites-page{
    min-height: 750px;
}

.favourites-wrapper{
    border: none;
}

.no-liked-photos,empty-search-text{
    min-height: 250px;
}

.terms-and-policies-page{
    display: flex;
    flex-flow: column nowrap;
    min-height: 750px;
}

.term-links{
    color: var(--highlight-color);
}

.terms-header{
    margin: 1em;
}

.terms-container{
    background-color: var(--grey-color);
    padding: 1em;
    width: 300px;
}

li{
    list-style: decimal;
    margin: 0.5em;
}

@media only screen and (max-width: 896px) {
    .curated-photos-wrapper, .favourites-wrapper,.results-wrapper{
        columns: auto 2;
        gap: 10px;
        padding: 0 10px 10px 10px;
    }

    .favourites-page{
        min-height: 500px;
    }

    .terms-and-policies-page{
        min-height: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .curated-photos-wrapper, .favourites-wrapper,.results-wrapper{
        columns: auto 1;
        gap: 5px;
    }
}