#en-layout{
    
}

.global-navbar-wrapper{
    background-color: var(--primary-bg-color);
    border-bottom: var(--border-ultra-thin);
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
}

.search-results-container{
    height: auto;
}

.results-wrapper{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.results-column{
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    width: 100%;
}