#en-layout{
    height: 100%;
}

.global-navbar-wrapper{
    background-color: var(--primary-bg-color);
    border-bottom: var(--border-ultra-thin);
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
}

.search-page-bottom-nav-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0 0;
    padding: 0 3em;
    height: 40px;
    width: 100%;
}

.nav-buttons{
    background-color: white;
    border: var(--border-ultra-thin);
    height: 100%;
    width: 5em;
}

.nav-buttons:hover, .load-more-btn:hover{
    background-color: var(--highlight-color);
}

.terms-and-policies-page{
    display: flex;
    flex-flow: column nowrap;
    min-height: 750px;
}

.term-links{
    color: var(--highlight-color);
}

.terms-header{
    margin: 1em;
}

.terms-container{
    background-color: var(--grey-color);
    padding: 1em;
    width: 300px;
}

li{
    list-style: decimal;
    margin: 0.5em;
}