footer{
    background-color: var(--grey-color);
    margin-top: auto;
    height: auto;
    width: 100%;
}

.footer-div{
    display: flex;
    flex-flow: row wrap;
}

.footer-columns{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;
    flex: 50%;
    max-width: 50%;
}

.footer-links-wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.footer-links:hover{
    color: var(--highlight-color);
}

@media only screen and (max-width: 768px) {
    footer{
        font-size: 14px;
    }
}