.index-page-container{
    position: relative;
    /* margin-bottom: 1em; */
}

.index-top-container{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 500px;
}

.index-bg-image{
    position: relative;
    object-fit: cover;
    filter: brightness(85%);
    z-index: -2;
}

.index-searchbox-container{
    flex-grow: 1;
    padding: 0 0.75em;
    width: 100%;
}

.index-searchbox{
    position: relative;
    height: 40px;
    width: 30em;
}

.curated-txt{
    font-size: 1.25em;
    padding: 0.5em 0.3em 0.5em 0.25em;
}

.index-min-height{
    min-height: 850px;
}

.columns-container{
    border-bottom: var(--border-ultra-thin);
    columns: auto 3;
    gap: 0.75em;
    padding: 0 1em 1em 1em;
}

.curated-link-container{
    margin: 1em 0;
    height: 40px;
    width: 100%;
}

.curated-button{
    border: var(--border-ultra-thin);
    color: var(--main-text-color);
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    width: auto;
}

.curated-button:hover{
    background-color: var(--highlight-color);
    color: white;
}

@media only screen and (max-width: 896px) {
    .columns-container{
        columns: auto 2;
        gap: 10px;
        padding: 0 10px 10px 10px;
    }

    .index-searchbox{
        height: 36px;
    }

    .curated-txt{
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .index-searchbox{
        width: 24em;
    }
}

@media only screen and (max-width: 480px) {
    .columns-container{
        columns: auto 1;
        gap: 5px;
        padding: 0 5px;
    }

    .index-searchbox{
        width: 18em;
    }
}