.index-page-container{
    position: relative;
}

.index-top-container{
    background-color: #1A3A3A;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 500px;
}

.index-searchbox-container{
    flex-grow: 1;
}

.curated-txt{
    font-size: 1.25em;
}

.index-curated-images-container{
    background-color: var(--lightest-violet-color);
}