.index-page-container{
    position: relative;
    height: auto;
}

.index-top-container{
    border-bottom: var(--border-ultra-thin);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 500px;
}

.index-searchbox-container{
    flex-grow: 1;
}

.index-curated-images-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(460px, 1fr));
    gap: 1em;
    padding: 1em 0;
    width: 100%;
}

.index-curated-image-links{
    filter: brightness(75%);
}

.curated-image-itself{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.index-curated-image-links:hover{
    filter: brightness(100%);
    transform: scale(1.01);
}