nav{
    position: sticky;
    top: 0;
}

#index-navbar{
    border-bottom: 1px solid rgba(256,256,256, 0.3);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 0 1em;
    height: 4em;
    width: 100%;
}

.company-header-link{
    border: 1px solid rgba(256,256,256, 0.3);
    color: white;
    padding: 0.25em;
}

.company-header-link:hover{
    border: var(--border-thin);
    border-color: white;
}

.stash-txt{
    color: white;
    background-color: var(--highlight-darker-color);
    border-radius: var(--border-radius-small);
    padding: 0 0.3em;
}

.signup-link{
    border: 1px solid rgba(256,256,256, 0.3);
    color: white;
    margin-left: auto;
    height: 38px;
    width: 5em;

}

.signup-link:hover{
    border: var(--border-thin);
    border-color: white;
}

#global-navbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 0 1em;
    height: 4em;
    width: 100%;
}

.global-header-link{
    border: var(--border-ultra-thin);
    padding: 0.25em;
}

.global-searchbox-wrapper{
    max-width: 30em;
}

.global-signup-link{
    border: var(--border-ultra-thin);
    margin-left: auto;
    height: 38px;
    width: 5em;
}

.global-header-link:hover ,.global-signup-link:hover{
    border: var(--border-thin);
    border-color: var(--highlight-color);
}