nav{
    position: sticky;
    top: 0;
}

#index-navbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    height: 4em;
    width: 100%;
}

.company-header-link{
    border: var(--border-ultra-thin);
    border-radius: var(--border-radius-small);
    color: white;
    margin: 0 1em;
    padding: 0.25em;
}

.company-header-link:hover{
    border: var(--border-thin);
    border-color: white;
}

.stash-txt{
    color: white;
    background-color: var(--highlight-darker-color);
    border-radius: var(--border-radius-small);
    padding: 0 0.3em;
}

.index-nav-bar-buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    height: 38px;
    width: 10em;
}

.signup-wrapper, .theme-switch-wrapper{
    color: white;
    cursor: pointer;
    border: var(--border-ultra-thin);
    height: 100%;
    width: 5em;
}

.theme-switch-wrapper{
    width: 2.75em;
}

.signup-wrapper:hover, .theme-switch-wrapper:hover{
    border: var(--border-thin);
    border-color: white;
}