nav{
    position: sticky;
    top: 0;
}

#index-navbar{
    border-bottom: 1px solid rgba(256,256,256, 0.3);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 1em;
    height: 4em;
    width: 100%;
}

.company-header-link{
    border: 1px solid rgba(256,256,256, 0.3);
    color: white;
    height: 40px;
    width: 10em;
}

.company-header-link:hover{
    border: var(--border-thin);
    border-color: white;
}

.stash-txt{
    color: white;
    background-color: var(--highlight-darker-color);
    border-radius: var(--border-radius-small);
    padding: 0 0.25em;
}

#global-navbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 0 1em;
    height: 4em;
    width: 100%;
}

.global-header-link{
    border: var(--border-ultra-thin);
    height: 40px;
    width: 10em;
}

.global-searchbox-wrapper{
    flex-grow: 1;
}

.global-header-link:hover{
    border: var(--border-thin);
    border-color: var(--highlight-color);
}

.heart-icon{
    height: 20px;
    width: 20px;
}

.index-heart-wrapper{
    border: 1px solid rgba(256,256,256, 0.3);
    color: white;
    height: 40px;
    width: 40px;
}

.index-heart-wrapper:hover{
    border: var(--border-thin);
    border-color: white; 
    color: var(--red-color);
}

.global-heart-wrapper{
    border: var(--border-ultra-thin);
    height: 40px;
    width: 40px;
}

.global-heart-wrapper:hover{
    border: var(--border-thin);
    border-color: var(--highlight-color);
    color: var(--red-color);
}

@media only screen and (max-width: 768px) {
    #index-navbar{
        padding: 0 0.5em;
    }

    .company-header-link{
        font-size: 14px;
    }

    #global-navbar{
        padding: 0 0.5em;
    }

    .heart-icon{
        height: 18px;
        width: 18px;
    }
}