.signup-page{
    position: relative;
    height: 800px;
}

.signup-container{
    /* background-color: var(--grey-color); */
    box-shadow: var(--box-shadow-full);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    height: 500px;
    width: 400px;
}

.signup-header, .fill-text{
    margin: 0.5em 0;
}

.form-wrapper{
    position: relative;
    height: 100%;
}

.registration-container, .login-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.input-wrapper{
    position: relative;
    margin: 0.5em 0;
    height: 40px;
    width: 18em;
}

.input-icons-wrapper{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2em;
}

.signup-input-field{
    border: var(--border-ultra-thin);
    padding: .5em .5em .5em 2em;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.signup-input-field:focus{
    border: var(--border-thin);
    border-color: var(--highlight-color);
}

.submit-wrapper{
    margin: 0.5em 0;
    height: 40px;
    width: 18em;
}

.form-submit-button{
    background-color: var(--primary-bg-color);
    border: var(--border-ultra-thin);
}

.form-submit-button:hover{
    background-color: var(--lightest-violet-color);
}

.form-link{
    cursor: pointer;
    color: var(--highlight-color);
}

.top-left-shape{
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-circle);
    position: absolute;
    top: -100px;
    left: -100px;
    height: 200px;
    width: 200px;
    z-index: -2;
}

.bottom-right-shape{
    background-color: var(--tiffany-mint-color);
    border-radius: var(--border-radius-circle);
    position: absolute;
    bottom: -100px;
    right: -100px;
    height: 200px;
    width: 200px;
    z-index: -2;
}