:root{
    --border-medium: 1px solid rgba(0,0,0, 1);
    --border-thin: 1px solid rgba(0,0,0, 0.5);
    --border-ultra-thin: 1px solid rgba(0,0,0, 0.1);
    --border-radius-small: 5px;
    --border-radius-circle: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    border: 2px solid #ffffff;
}

body{
    --main-text-color: #000000;
    --primary-bg-color: #fffffe;
    --secondary-bg-color: #1A3A3A;
    --highlight-color: #A997DF;
    --highlight-darker-color: #4F517D;
    --lightest-violet-color: #DCCFEC;
    --ultra-light-violet-color: #DDC4DD;
    --grey-color: #f2f4f6;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-flow: column nowrap;
    color: var(--main-text-color);
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.margin-auto-1440{
    margin: 0 auto;
    max-width: 1440px;
}

.hw100{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: sspro;
    src: url(../public/fonts/sspro_regular.ttf);
}

input{
    border: none;
    font-size: 16px;
    outline: none;
}

button{
    cursor: pointer;
}

.next-link{
    color: var(--main-text-color);
    cursor: pointer;
    text-decoration: none;
}

.transition-fast{
    transition: all ease-in .1s;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: block;
    height: 18px;
    width: 18px;
}

.radius-small{
    border-radius: var(--border-radius-small);
}

.not-found-div{
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;
    width: 100%;
}

.not-found-link{
    border: var(--border-ultra-thin);
    margin-top: 1em;
    height: 36px;
    width: 10em;
}

.not-found-link:hover{
    background-color: var(--highlight-color);
    color: white;
}